<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="content-sidebar">
  <section class="content">
    {{ content }}
  </section>
  <aside class="sidebar" style="position: fixed !important">
    <h2><a href="https://greatcoder1000.github.io/largenumbers">Home</a></h2>
    <a href="2-1-1.html">2.1.1 - Layman -illions</a><br>
    <a href="3-1-2.html">3.1.2 - CGNL</a><br>
    <a href="4-1-11.html">4.1.11 - ##xE^ continuation</a><br>
    <a href="4-1-12.html">4.1.12 - /xE^ continuation</a><br>
    <a href="4-1-13.html">4.1.13 - BEAF vs ##xE^</a><br>
    More coming soon! A better ulnl and cgnl will come this year.<br>
  </aside>
        </div>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
