<div class="content-sidebar">
  <section class="content">
    {{ content }}
  </section>
  <aside class="sidebar">
    <h2>Repository Info</h2>
    <p><strong>Name:</strong> {{ site.github.repository_name }}</p>
    <p><strong>Owner:</strong> <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    <p><strong>Description:</strong> {{ site.description | default: site.github.project_tagline }}</p>
    <p><strong>Stars:</strong> {{ site.github.stargazers_count }}</p>
    <p><strong>Forks:</strong> {{ site.github.forks_count }}</p>
  </aside>
</div>
